body {
      font-family: futura;
      font-size: 100%;
      font-size: 0.9em;
}

.pure-u-1, .pure-u-1 a {
      background-color:white;
      color: midnightblue;
      text-decoration: none;
      padding-top: 6em;
      padding-left: 1.5em;
      line-height: 1.5em;
      box-sizing: border-box;
      text-align: center;
}

.extra {
      padding-bottom: 5em;
}

.pure-u-1 a:hover {
      color: #fb5567;
      text-decoration: underline;
}

.pure-img {
      width: 100%;
}

h1 {
      font-size: 1.3em;
      padding: 0.5em;
      line-height: 1em;
      box-sizing: border-box;
      border: 5px solid midnightblue;
      text-align: center;
      font-weight: bold;
      position: relative;
      top: -2em;

}


h2 {
      font-size: 1.3em;
      padding: 1em;
      box-sizing: border-box;
      border: 5px solid midnightblue;
      text-align: center;
      font-weight: bold;
      margin-top: 3em;
}

span {
      font-weight: bold;
}

.pre {
      text-align: center;
      padding: 1.5em;
}

.white {
      background-color: white;
}

.center {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}


div.one {
      background-color:#33FFCC;
      height: 18em;
      width: 20%;
      margin-left: 1.5%;
      border-radius: 25px;
      margin-top: 30px;
      float: left;
}

div.two {
      background-color: #33FFFF;
      height: 37em;
      margin-left:5%;
      border-radius: 25px;
      width: 20%;
      margin-top: 30px;
      float: left;
}

div.three {
      background-color: #00FF99;
      height: 24em;
      margin-left: 5%;
      border-radius: 25px;
      width: 20%;
      margin-top: 30px;
      float: left;
}

div.four {
      background-color: #99CCFF;
      height: 17em;
      margin-left: 5%;
      border-radius: 25px;
      width: 20%;
      margin-top: 30px;
      float: left;
}


div.five {
      background-image: url('https://s25.postimg.org/muv72kyzj/Slide_021.jpg');
      background-size: 100%;
      height: 12em;
      border-radius: 25px;
      width: 20%;
      margin-top: -19%;
      margin-left: 1.5%;
      float:left;
}

div.six {
      background-image: url('https://s25.postimg.org/c6rg3qp0f/Slide_020.png');
      background-size: 100%;
      height: 17em;
      margin-left: 1.5%;
      border-radius: 25px;
      width: 20%;
      margin-top: -40px;
      float: left;
}

div.seven {
      margin-left: 5%;
      margin-top: 30px;
      width: 20%;
      float: left;
}

div.eight {
      background-image:url('https://s25.postimg.org/j27393u3j/Slide_014.jpg');
      background-size: 100%;
      height: 13.5em;
      margin-left: 5%;
      border-radius: 25px;
      width: 20%;
      margin-top: -160px;
      float: left;
}

div.nine {
      background-image:url('https://s25.postimg.org/rx3c5vti7/Slide_004.jpg');
      background-size: 100%;
      height: 12.5em;
      margin-left: 5%;
      border-radius: 25px;
      width: 20%;
      margin-top: -260px;
      float: left;
}

div.ten {
      background-image: url('https://s25.postimg.org/3ur3or28v/Slide_015.jpg');
      background-size: 100%;
      height: 13.5em;
      margin-left: 51.5%;
      border-radius: 25px;
      width: 20%;
      margin-top: -170px;
      float: left;
}

div.eleven {
      background-image:url('https://s25.postimg.org/qgrtnqqlb/Slide_003.jpg');
      background-size: 100%;
      height: 12.5em;
      margin-left: 5%;
      border-radius: 25px;
      width: 20%;
      margin-top: -280px;
      float: left;
}



.pure-g {
      clear:both;
}




div.one p, div.two p, div.three p, div.four p {
      margin-left: -5%;
      margin-right: 5%;
      margin-top: -30px;
}
